html {
    background-color: whitesmoke;
    color: gray;
}

header {
   text-align: center;
   margin-bottom: 5px;
   padding: 20px;
   background-color: blanchedalmond;
   border: solid 4px grey;
}

body {
    text-align: center;

    margin-top: 40px;
}


a {
    font-size: 30px;
    color: gray;
}

img {
    height: 200px;
}

input.betinput {
    height: 22px;
}

input.img{
    border: solid 4px blue;
}

img:checked {
    border: solid 3px blue;
}

button {
    color: gray;
    font-size: 20px;
    background-color: blanchedalmond;
}

button:hover {
    color: red;
    font-size: 20px;
    font-style: italic;
}

input.radio {
    visibility: hidden;
}

p.betts {
    display: flex;
    justify-content: center;
}

.scoreSpace {
    display: flex;
    justify-content: space-evenly;
}

.your-score, .comp-score {
    border: solid 4px grey;
    padding: 10px 30px;
    background-color: blanchedalmond;
    color: gray; 
}

.hidden {
    visibility: hidden;
}