html {
    background-color: whitesmoke;
    font-family: 'Barriecito', cursive;

    
}

header {
   text-align: center;
   margin-bottom: 5px;
   padding: 20px;
   background-color: blanchedalmond;

}

body {
    text-align: center;
    margin-top: 40px;
    border: solid 4px grey;
}

img {
    height: 200px;
    border: solid 4px transparent;
}

img:hover {
    border: solid 4px gray;
}



button:hover {
    color: red;
}

.rules {
    font-size: 25px;
    color: gray;
}

.scoreSpace {
    display: flex;
    
    justify-content: space-around;
    

}
.your-score, .comp-score {
    margin: 10px;
    width: 35vw;
    border: solid 4px gray;
    background-color: blanchedalmond;
    padding: 15px;
    color: gray;
}

.hidden {
    visibility: hidden;
}

input {
    visibility: hidden;
}

.visible {
    visibility: visible;
}