html {
    background-image: url(spiderplant.jpg);
    background-repeat: repeat;
    font-family: 'Indie Flower';
    width: 100%;
}   


body {
    color: #636D52;
    text-align: center;
    background: #C4C3B3;
    padding: 12px;
    border-radius: 6px;   
    border: 3px solid #636D52;
    height: 90vh;
}

a {
    color: #636D52;
}

nav {
    display: flex;
    justify-content: space-around;
    text-decoration: #636D52
}

p {
    font-size: 13pt;
}

Button:hover {
    background: #C4C3B3; 
}
    
Button:active {
background: url(spiderplant.jpg); 
}

.center {
    width: 80vw;
    

}
        
.boxes {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}
        
.active {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}   

.boxes *{
   width: 65px;
   height: 65px;
   border: solid #636D52 3px;
   border-radius: 6px;
   margin-top: 30px;
   margin-bottom: 40px;
}

.active *{
    display: flex;
    justify-content: space-between;
    width: 65px;
    height: 65px;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 3px solid #636D52;
    border-radius: 6px;
}

.win-or-lose {
    text-align: center;
    font-size: 20pt;
    color: #636D52;
}


#guessButton {
    font-family: 'Indie Flower';
    font-size: 14pt;
    height: 70px;
    width: 70px;
}


